# ====================================================
#   𝑺𝒂𝒆𝒆𝒅 𝑩𝒐𝒕 🛡️ - الملفات والمجلدات المستثناة
# ====================================================

node_modules/
session/
data/store.json
*.log
.DS_Store
